<nav class="navbar">
	<img class="logo" src="/logo.jpeg" />
	<ul class="navbar-list">
		<li class="navbar-list__item"><a href="/inventory">All Categories</a></li>
		<li class="navbar-list__item"><a href="/inventory/items">All Items</a></li>
		<li class="navbar-list__item navbar-list__item--divider">|</li>
		<li class="navbar-list__item">
			<a href="/inventory/category/create">Create Category</a>
		</li>
		<li class="navbar-list__item">
			<a href="/inventory/item/create">Create Item</a>
		</li>
	</ul>
</nav>
